body {
  padding: 0;
  margin: 0;
}

#map,
body,
html {
  height: 100%;
}

/* Styles for the map legend */
.info.legend {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  line-height: 18px;
}

.info.legend i {
  width: 18px; /* Width of the color box */
  height: 18px; /* Height of the color box */
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}

.info.legend div {
  clear: both; /* Ensures each entry in the legend is on a new line */
}